.container {
    margin-top: 1rem;
}

.nav-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.btn-floating {
    position: absolute;
    right: 2%;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-dog {
    filter: invert(100%);
}

#imgPreview {
    width:400px;
    height:600px;
    object-fit: contain;
}
/* map size */
#map {
    height: 400px;
    width: 100%; 
  }
